.projects-container {
  display: flex;
  flex-direction: column;
  max-width: 80rem;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
}

.projects-content {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
}

.projects-header {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
  font-size: 5rem;
}

@media screen and (max-width: 640px) {
  .projects-header {
    font-size: 4rem;
  }
}

.project-card-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.projects-header {
  color: white;
}
