.mfpresch-nav {
    background-color: transparent !important;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 100%;
    transition: transform 0.3s ease;
  }
  .mfpresch-nav a {
    color: white !important;
  }
  .mfpresch-nav a:hover {
    color: gray !important;
  }
  .mfpresch-nav a.active {
    color: rgb(255, 255, 255) !important;
  }
  .mfpresch-nav a.active:hover {
    color: rgb(255, 255, 255) !important;
  }
  .mfpresch-nav .nav-link {
    color: white !important;
    margin: 0 10px;
  }
  .mfpresch-nav .nav-link:hover {
    color: gray !important;
  }
  .mfpresch-nav .nav-link.active {
    color: rgb(255, 255, 255) !important;
  }
  .mfpresch-nav .nav-link.active:hover {
    color: rgb(255, 255, 255) !important;
  }
  .socials-icons {
    display: flex;
    gap: 15px;
    align-items: center;
  }
  .socials-icons img {
    width: 24px;
    height: 24px;
  }
  .socials-icons img:hover {
    filter: brightness(0.8);
  }