.skills-container {
    display: flex;
    flex-direction: column;
    color: white !important;
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20rem;
}

.skills-header {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
    font-size: 90px;
    color: white !important;
}

.skills-card {
  background-color: transparent !important;
  color: white !important;
  border: none !important;
  margin-left: auto;
  margin-right: auto;
  max-width: 80rem;
  width: 90%;
}

.nav-link.active {
    border-bottom-color: transparent !important;
}

.nav-link:hover {
    border-bottom-color: transparent !important;
}

.skills-tabs {
  background-color: transparent !important;
  width: 18rem;
  border-color: transparent !important;
}

.skills-tabs .nav-link {
  color: white !important;
  background-color: transparent !important;
}
.skills-tabs .nav-link:hover {
  background-color: rgba(45, 45, 45, 0.5);
  color: white !important;
}

.skills-layout {
  display: grid;
  grid-auto-rows: auto;
  height: auto;
}

.skills-content {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  background-image: linear-gradient(to top right, rgba(25, 25, 25, 0.5), rgba(60, 60, 60, 0.5));  
  border-radius: 5px;
}

@media screen and (max-width: 640px) {
  .skills-layout {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .skills-layout img {
    height: 75px;
    width: 75px;
  }
}

@media screen and (min-width: 641px) {
  .skills-layout {
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }
  .skills-layout img {
    height: 100px;
    width: 100px;
  }
}

@media screen and (min-width: 800px) {
  .skills-layout {
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
  }
  .skills-layout img {
    height: 100px;
    width: 100px;
  }
}

@media screen and (min-width: 1320px) {
  .skills-layout {
    grid-template-columns: repeat(6, 1fr);
    gap: 50px;
  }
  .skills-layout img {
    height: 150px;
    width: 150px;
  }
}
