.skills-container {
    display: flex;
    flex-direction: column;
    max-width: 80rem;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
}

.skills-content {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
}

.skills-header {
    margin-left: auto;
    margin-right: auto;
    font-size: 5rem;
    color: white !important;
}

.skills-card {
  background-color: transparent !important;
  color: white !important;
  border: none !important;
  margin-left: auto;
  margin-right: auto;
  max-width: 80rem;
  width: 90%;
}

.skills-tabs {
  background-color: transparent !important;
  width: 30rem;
  border-color: transparent !important;
}

.skills-tabs .nav-link {
  color: white !important;
  background-color: transparent !important;
}
.skills-tabs .nav-link:hover {
  background-color: rgba(45, 45, 45, 0.5);
  color: white !important;
  border-radius: 5px;
}

.nav-link.active {
  background-color: rgba(45, 45, 45, 0.5) !important;
  border-radius: 5px;
}

.skills-layout {
  display: grid;
  grid-auto-rows: auto;
  height: auto;
}

.skills-tab-content {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  background-image: linear-gradient(to top right, rgba(0, 0, 0, 0.1), rgba(49, 49, 49, 0.5));  
  border-radius: 10px;
}

@media screen and (max-width: 640px) {
  .skills-header {
    font-size: 4rem;
  }
  .skills-layout {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .skills-layout img {
    height: 75px;
    width: 75px;
  }
}

@media screen and (min-width: 641px) {
  .skills-layout {
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }
  .skills-layout img {
    height: 100px;
    width: 100px;
  }
}

@media screen and (min-width: 800px) {
  .skills-header {
    margin-top: 10rem;
  }
  .skills-layout {
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
  }
  .skills-layout img {
    height: 100px;
    width: 100px;
  }
}

@media screen and (min-width: 1320px) {
  .skills-layout {
    grid-template-columns: repeat(6, 1fr);
    gap: 50px;
  }
  .skills-layout img {
    height: 130px;
    width: 130px;
  }
}
